@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  color: darkblue;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  padding: 20px;
  background-color: #f1f1f1;
}
header .container {
  display: flex;
}
header .container figure {
  max-width: 80%;
  margin-right: 100px;
}
header .container ul {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0;
}
header .container ul li {
  list-style: none;
  font-weight: bold;
  text-transform: uppercase;
}
header .container ul li a {
  padding: 10px;
}
header .container ul li a.active, header .container ul li a:hover {
  background-color: #097ceb;
}

footer {
  background-color: #333;
  padding: 10px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .button {
  padding: 10px;
  border: 1px solid #097ceb;
}
footer .container .button a {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
footer .container .button.active, footer .container .button:hover {
  background-color: #097ceb;
}
footer .container .social {
  display: flex;
  align-items: center;
}
footer .container .social a {
  text-transform: uppercase;
  color: #097ceb;
  font-weight: bold;
  margin-right: 20px;
}
footer .container .social img {
  margin: 5px;
  max-width: 25px;
}

.hero {
  height: 50vh;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
  padding: 20px;
}

#comics {
  background-color: #1c1c1c;
  padding: 50px;
  color: white;
}
#comics h1 {
  text-transform: uppercase;
  background-color: #097ceb;
  padding: 10px;
  display: inline-block;
}
#comics .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#comics .container .card {
  flex-basis: 14.2857142857%;
  margin: 10 10px;
}
#comics .container .card img {
  max-width: 200px;
  max-height: 200px;
}

.container {
  color: #113d5b;
  display: flex;
  padding-top: 50px;
  padding-bottom: 30px;
}
.container .copy {
  width: 70%;
}
.container .copy h1 {
  margin-bottom: 20px;
}
.container .copy .description {
  color: #befa96;
  background-color: #70b764;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.container .copy .description .availability {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
  border-left: 1px solid black;
  margin-left: 10px;
}
.container .copy .description .price {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .talent {
  width: 50%;
}
.container .talent h2 {
  margin-bottom: 20px;
}
.container .talent hr {
  border: 1px solid #eeeeee;
}
.container .talent .row {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.container .talent .row span {
  width: 50%;
}
.container .specs {
  margin-left: 50px;
  width: 50%;
}
.container .specs h2 {
  margin-bottom: 20px;
}
.container .specs hr {
  border: 1px solid #eeeeee;
}
.container .specs .row {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.container .specs .row span {
  width: 50%;
}

#container {
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 20px;
}
